{% load i18n webdesign %}{% load static from staticfiles %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Playable Co.,Ltd.">
    <link rel="shortcut icon" href="{% static "ico/favicon.ico" %}">

    <title>{% block title %}Playable{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/playable.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="{% static 'js/ie8-responsive-file-warning.js' %}"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <script src="{% static 'js/vendor/modernizr_custom_15230.min.js' %}"></script>
  </head>

  <body>
  {% block navbar %}
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            MENU
          </button>
    <a class="navbar-brand" rel="home" href="/">
      <img style="max-width:120px;" src="{% static "img/logo.png" %}">
    </a>
      
        </div>
    
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li class="active"><a href="index.html">{% trans 'PRODUCTS' %}</a></li>
            <li><a href="about.html">{% trans 'ABOUT' %}</a></li>
            <li><a href="contact.html">{% trans 'CONTACT' %}</a></li>
          </ul>
        </div><!--/.nav-collapse -->

      </div>
    </div>
  {% endblock %}
  <div id="mainwrap">
  {% block jumbotron %}{% endblock %}
  {% block content %}
  {% endblock %}
  </div>
  <!-- *****************************************************************************************************************
   FOOTER
   ***************************************************************************************************************** -->
   <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 sr-only">
          <h4>{% trans 'About' %}</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        </div>
        <div class="col-lg-4">
          <h4>{% trans 'Contact Us' %}</h4>
          <div class="hline-w"></div>
          <p>
            {% blocktrans %}
            PlayAble Co., Ltd. 
            142 Soi Praeng Sappasart, Tanao Road, San Chao Pho Suea, Phra Nakhon, Bangkok 10200<br/>
            Tel. 02-622-2999 fax.02-622-3299<br/>
            {% endblocktrans %}
          </p>
        </div>
      </div><! --/row -->
    </div><! --/container -->
   </footer>
   
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{% static 'js/vendor/retina.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery_hoverdir.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery_hoverex.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery_pretty_photo.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery_isotope.min.js' %}"></script>
    <script src="{% static 'js/vendor/custom.min.js' %}"></script>
  </body>
</html>
