{% extends "base_generic.html" %}
{% load i18n %}
    
    {% block content %}
    <div class="section home-header">
        <div class="container">
            <h1 class="text-center tagline">สื่อดิจิตอลนำการศึกษาไทย</h1>
            <div class="home-box">
                <h2 class="text-center">{% trans "New article" %}</h2>
                <div class="row">
                {% for article in articles %}
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="article-card-wrapper">
                        <img src="assets/img/place_holder_01.jpg" class="img-responsive">
                        <div class="article-card-detail">
                        {% lorem 10 w %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                </div>
                <div><a class="btn btn-primary btn-block readmore" href="#" role="button">{% trans "Read all" %}</a></div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="section-header">
            <h2 class="text-center">{% trans "Free material, Free download." %}</h2>
        </div>
    </div>

    <div class="section home-article">

        <div class="container">
            <div class="home-box">
                <div class="row">
                {% for article in articles %}
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="article-card-wrapper">
                        <img src="assets/img/place_holder_01.jpg" class="img-responsive">
                        <div class="article-card-detail">
                        {% lorem 10 w %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                </div>
                <div><a class="btn btn-primary btn-block readmore" href="#" role="button">{% trans "Read all" %}</a></div>
            </div>
        </div>
    </div>
    {% endblock %}