/*	################################################################
	1. Color Palet
################################################################# */
@lightly-browned:				#AA7744;
@man-eating-carrot:				#EE8833;
@lifeisshort-playloud:			#FFEE77;
@blue-shift:					#FFFFBB;
@blight-river:					#66EEFF;

/* Coolors Exported Palette - coolors.co/50514f-f25f5c-ffe066-247ba0-70c1b3 */
@playable-primary-color:		#50514f;
@playable-secondary-color:		#f2991a;
@playable-black: 				#50514f;
@playable-red: 					#f25f5c;
@playable-yellow: 				#ffe066;
@playable-blue: 				#247ba0;
@playable-green: 				#70c1b3;

@playable-dark-grey:			#444;
@playable-light-grey:			#CCC;

.playable-primary-color{
	color:white;
	background-color:@playable-primary-color;
}
.playable-secondary-color{
	color:white;
	background-color:@playable-secondary-color;
}
.playable-black{
	color:white;
	background-color:@playable-black;
}
.playable-red{
	color:white;
	background-color:@playable-red;
}
.playable-yellow{
	color:white;
	background-color:@playable-yellow;
}
.playable-blue{
	color:white;
	background-color:@playable-blue;
}
.playable-green{
	color:white;
	background-color:@playable-green;
}
.playable-dark-grey{
	color:white;
	background-color:@playable-dark-grey;
}
.playable-light-grey{
	color:white;
	background-color:@playable-light-grey;
}

/*	################################################################
	2. Font
################################################################# */
@base-font:					"Helvetica Neue",Helvetica,Arial,sans-serif;
@alt-font:					'aksornregular','Varela Round', sans-serif;
@base-font-size:			16px;
@base-font-weight:			300;



