/*	################################################################
	1. Color Palet
################################################################# */
@lightly-browned:			#AA7744;
@man-eating-carrot:			#EE8833;
@lifeisshort-playloud:		#FFEE77;
@blue-shift:				#FFFFBB;
@blight-river:				#66EEFF;

@playable-dark-grey:		#444;
@playable-light-grey:		#CCC;

/*	################################################################
	2. Font
################################################################# */
@base-font:					sans-serif, 'Lato';
@alt-font:					'Raleway', sans-serif;
@base-font-size:			18px;



